<!-- Write HTML code here -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ race_name }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    </head>
    <body>
        <center>
            {% block content %}
                <form method="post" novalidate>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Go</button>
                </form>
            {% endblock %}
        </center>
        {% autoescape off %}
        {{ gap_between_drivers }}
        {{ position_change }}
        {{ tyre_history }}
        {{ gap_to_leader }}
        {% endautoescape %}
    </body>
</html>
